<?xml version='1.0' encoding='utf-8'?>
<widget id="com.denis.lce" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ALCA</name>
    <description>
        Software light control admin.
    </description>
    <author email="denis3711@gmail.com">DenSoft</author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
	<preference name="SplashScreen" value="screen"/>
	<preference name="SplashScreenDelay" value="2000" />
	<feature name="SplashScreen" >
		<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
		<param name="onload" value="true" />
	</feature>
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/icon-ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/icon-mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/icon-hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/icon-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/icon-xxxhdpi.png" />
        <splash platform="android" qualifier="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
        <splash platform="android" qualifier="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
        <splash platform="android" qualifier="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
        <splash platform="android" qualifier="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash platform="android" qualifier="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash platform="android" qualifier="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash platform="android" qualifier="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash platform="android" qualifier="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash platform="android" qualifier="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash platform="android" qualifier="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash platform="android" qualifier="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash platform="android" qualifier="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
